@page
@model QuinonesIPT102Final.Pages.LogBookModel
<div class="position-absolute bottom-0 start-50 translate-middle-x"><a class="btn btn-dark" asp-page="/home">Back</a></div>

<form method="post" asp-page-handler="MQsearch">
    <center>
        <input name="Search" />
        <button type="submit" class="btn btn-primary">Search</button>
</form></center>
<h1><center>STUDENT CLINIC RECORD</h1></center>
<div style="max-height: 300px; overflow-y: auto;">
    <table class="table bg-info text-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year Level/Course</th>
                <th>Reason For Adminssion</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <form method="post" asp-page-handler="MQcreate">
        <tr>
            <input hidden name="MQId" value="@Model.MQId" />
            <td>
                <div class="">
                    <input placeholder="Name" name="MQName" value="@Model.MQName" />

                </div>
            </td>

            <td><input value="@Model.MQGradeYearLevel" name="MQGradeYearLevel" placeholder="Year Level/Course" /></td>
            <td><input value="@Model.MQReasonForAdmission" name="MQReasonForAdmission" placeholder="Reason For Adminssion" /></td>
            <td><input value="@Model.MQDate" type="date" name="MQDate" placeholder="Date" /></td>
            <td>
                <input value="@Model.MQTime" type="time" name="MQTime" placeholder="Time" />
                <button type="submit" class="btn btn-primary">Add</button>
                <button class="btn btn-primary" type="submit" formmethod="post" asp-page-handler="MQupdate">Update</button>
            </td>
        </tr>
        </form>
        <tbody>
            @foreach (var a in Model.MQlist)
            {
                <tr>
                    <td>@a.MQName</td>
                    <td>@a.MQGradeYearLevel</td>
                    <td>@a.MQReasonForAdmission</td>
                    <td>@a.MQDate</td>
                    <td>@a.MQTime</td>
                    <td>
                        <form method="post" asp-page-handler="MQedit">
                            <input hidden value="@a.MQId" name="MQId" />
                            <input hidden value="@a.MQId" name="MQId2" />
                            <input hidden value="@a.MQName" name="MQName2" />
                            <input hidden value="@a.MQGradeYearLevel" name="MQGradeYearLevel2" />
                            <input hidden value="@a.MQReasonForAdmission" name="MQReasonForAdmission2" />
                            <input hidden value="@a.MQDate" name="MQDate2" />
                            <input hidden value="@a.MQTime" name="MQTime2" />
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <button class="btn btn-dark" type="submit" formmethod="post" asp-page-handler="MQdelete">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
